body{
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 26px;
}

div{
	margin: 0 auto;
	width: 960px;
}

h1{
	font-size: 36px;
	line-height: 36px;
	border-bottom: solid black;
}

.heading{
	font-size: 24px;
	line-height: 32px;
}

.Ingredienten, .Beriedingswijze{
	font-size: 32px;
	line-height: 32px;
	margin-top: 40px;
}

ul li{
	margin-bottom: 10px;
}

ol li{
	margin-bottom: 20px;
}

.Paginatitel{
	font-size: 36px;
}

.photo1, .soep, .Nutella{
	margin-left: 25px;
	padding-bottom: 20px;
	padding-top: 15px;
	width: 80%;
	height: 75%;
	border-radius: 10%;
}

.Tip{
	border-radius: 4px;
	background-color: #def6ed;
	padding: 25px;
}

a{
	background-color: #def6ed;
	text-decoration-line: none;
	border: solid black;
	border-radius: 10px;
	padding: 10px;
}